
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mediatek.wwtv.mediaplayer"
    android:versionCode="2"
    android:versionName="2.30.2 build 18321812"

     >

    <uses-sdk android:minSdkVersion="30" android:targetSdkVersion="30" />

    <uses-permission android:name="android.permission.HDMI_CEC" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="android.permission.SHUTDOWN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MAINLINE_NETWORK_STACK" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTTES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REAL_GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="com.android.providers.tv.permission.READ_EPG_DATA" />
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA" />
    <uses-permission android:name="com.android.providers.tv.permission.ACCESS_ALL_EPG_DATA" />
    <uses-permission android:name="android.permission.TV_INPUT_HARDWARE" />
    <uses-permission android:name="com.google.android.tv.permission.RECEIVE_INPUT_EVENT" />
    <uses-permission android:name="com.android.tv.permission.RECEIVE_INPUT_EVENT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.START_ANY_ACTIVITY" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <protected-broadcast android:name="mtk.intent.volume.status" />
    <protected-broadcast android:name="com.mediatek.closeAudio" />
    <protected-broadcast android:name="mtk.intent.action.exit.android.setting" />
    <protected-broadcast android:name="com.android.tv.settings.SYNC_CONFIG_VALUE" />
    <protected-broadcast android:name="mtk.intent.action.dolby.exit" />


    <supports-screens android:xlargeScreens="true" />
    <uses-feature android:name="android.software.leanback" android:required="true"/>
    <uses-feature android:name="android.hardware.usb.host" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <queries>
        <intent>
        <action android:name="android.intent.action.TTS_SERVICE"/>
        </intent>
    </queries>

    <application
        android:name=".util.MmpApp"
        android:allowBackup="true"
        android:banner="@drawable/mmp_logo"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:logo="@drawable/mmp_logo"
        android:supportsRtl="true"
        android:persistent="false"
        android:theme="@style/Theme.Leanback"
        android:largeHeap="true"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
         >

        <!-- MMP activity -->
        <activity
            android:name="com.mediatek.wwtv.mediaplayer.mmp.MediaMainActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Leanback"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|keyboard|screenSize|screenLayout"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".UsbReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
            </intent-filter>
        </receiver>

        <!--
        MENU activity
        <activity android:name="com.mediatek.wwtv.mediaplayer.menu.MenuMain"
            android:label="@string/menu_interface_name"
            android:screenOrientation="landscape" android:windowSoftInputMode="stateAlwaysHidden|stateHidden"
            android:theme="@style/menuMain_Transparent" android:configChanges="locale|layoutDirection|keyboard|keyboardHidden">
        </activity>
        <activity android:name="com.mediatek.wwtv.mediaplayer.mmp.DmrActivity"
            android:hardwareAccelerated="false"
            android:label="@string/app_name" android:theme="@style/AnimationTheme" />
        <activity android:name="com.mediatek.wwtv.mediaplayer.mmp.multimedia.ShowInfoActivity"
            android:launchMode="singleTask" android:theme="@style/AnimationTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/files" />
            </intent-filter>
        </activity>
        <activity android:name="com.mediatek.wwtv.mediaplayer.mmp.multimedia.PhotoPlayActivity"
            android:theme="@style/AnimationTheme" android:configChanges="keyboard|keyboardHidden"
                  android:hardwareAccelerated="false">
         </activity>
        <activity android:name="com.mediatek.wwtv.mediaplayer.mmp.multimedia.PhotoPlayDmrActivity"
            android:theme="@style/AnimationTheme" android:configChanges="keyboard|keyboardHidden"
                  android:hardwareAccelerated="false">
               <intent-filter>
                <action android:name="android.intent.action.mmp.photo" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.mediatek.wwtv.mediaplayer.mmp.multimedia.MusicPlayActivity"
            android:theme="@style/AnimationTheme" android:configChanges="keyboard|keyboardHidden">

        </activity>
        <activity android:name="com.mediatek.wwtv.mediaplayer.mmp.multimedia.MusicPlayDmrActivity"
            android:theme="@style/AnimationTheme" android:configChanges="keyboard|keyboardHidden">
             <intent-filter>
                <action android:name="android.intent.action.mmp.music" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.mediatek.wwtv.mediaplayer.mmp.multimedia.VideoPlayActivity"
            android:theme="@style/AnimationTheme" android:configChanges="keyboard|keyboardHidden">
        </activity>
        <activity android:name="com.mediatek.wwtv.mediaplayer.mmp.multimedia.VideoPlayDmrActivity"
            android:theme="@style/AnimationTheme" android:configChanges="keyboard|keyboardHidden">
                        <intent-filter>
                <action android:name="android.intent.action.mmp.video" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.mediatek.wwtv.mediaplayer.mmp.multimedia.TextPlayActivity"
            android:theme="@style/AnimationTheme" android:configChanges="keyboard|keyboardHidden"></activity>

        <activity android:name="com.mediatek.wwtv.mediaplayer.mmp.multimedia.Photo3DPlayActivity"
            android:theme="@style/AnimationThemePhoto" android:configChanges="keyboard|keyboardHidden"></activity>
        <activity android:name="com.mediatek.wwtv.mediaplayer.mmp.multimedia.Photo4K2KPlayActivity"
            android:theme="@style/AnimationThemePhoto" android:configChanges="keyboard|keyboardHidden"
            android:hardwareAccelerated="true"></activity>
        <activity android:name="com.mediatek.wwtv.mediaplayer.mmp.multimedia.Photo4K2KPlayDmrActivity"
            android:theme="@style/AnimationThemePhoto" android:configChanges="keyboard|keyboardHidden"
            android:hardwareAccelerated="true">
            <intent-filter>
                <action android:name="android.intent.action.mmp.4k2kphoto" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="com.mediatek.wwtv.mediaplayer.mmp.multimedia.MtkFilesGridActivity"
            android:theme="@style/AnimationTheme" android:launchMode="singleTask"
            android:configChanges="keyboard|keyboardHidden"></activity>
        <activity android:name="com.mediatek.wwtv.mediaplayer.mmp.multimedia.MtkFilesListActivity"
            android:launchMode="singleTask" android:theme="@style/AnimationTheme"
            android:configChanges="keyboard|keyboardHidden"></activity>
        <activity android:name="com.mediatek.wwtv.mediaplayer.mmp.gamekit.filebrowse.MtkFileFlimBrowseActivity" android:launchMode="singleTask"
             android:theme="@style/AnimationTheme"
             android:screenOrientation="landscape" android:configChanges="keyboard|keyboardHidden">
        </activity>



        <activity android:name="com.mediatek.wwtv.mediaplayer.capturelogo.CaptureLogoActivity"
            android:label="@string/app_name" android:theme="@style/CaptureLogoTheme" />



        <service android:name="com.mediatek.record.RecordService" />
        <receiver android:name="com.mediatek.wwtv.mediaplayer.timeshift_pvr.manager.PowerReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_PREPARE_SHUTDOWN" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.mediatek.wwtv.mediaplayer.timeshift_pvr.controller.SchedulePvrActivity"
            android:configChanges="locale"
            android:exported="false"
            android:label="@string/title_activity_schedule_pvr"
            android:launchMode="singleTop"
            android:theme="@style/Transparent" >
            <intent-filter>
                <action android:name="com.mediatek.wwtv.mediaplayer.schedulepvr.activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>




        <activity android:name="com.mediatek.wwtv.mediaplayer.vssdemo.VssDemoActivity"
            android:hardwareAccelerated="false"
            android:label="@string/app_name" android:theme="@style/menuMain_Transparent">
            <intent-filter>
                <action android:name="android.intent.action.VssDemo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="com.mediatek.mmpcm.audioimpl.PlaybackService" />
        <service android:name="com.mediatek.netcm.wifi.WifiDevService"/>
        <service android:name="com.mediatek.record.RecordService" />






        <receiver
            android:name="com.mediatek.wwtv.mediaplayer.oem.AndroidHomeScreenBrdReceiver" >
            <intent-filter>
                <action android:name="com.google.android.leanbacklauncher.action.PARTNER_CUSTOMIZATION" />
            </intent-filter>
        </receiver>
        -->
        <!-- Media Player -->
        <activity
            android:name="com.mediatek.wwtv.mediaplayer.mmp.multimedia.PhotoPlayActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:hardwareAccelerated="false"
            android:theme="@style/AnimationTheme" >
            <intent-filter>
                <action android:name="android.mtk.intent.action.mediaplayer.photo" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mediatek.wwtv.mediaplayer.mmp.multimedia.MusicPlayActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:theme="@style/AnimationTheme" >
            <intent-filter>
                <action android:name="android.mtk.intent.action.mediaplayer.music" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mediatek.wwtv.mediaplayer.mmp.multimedia.VideoPlayActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection"
            android:theme="@style/AnimationTheme"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:taskAffinity="com.mediatek.wwtv.mediaplayer.mmp.multimedia.VideoPlayActivity">
            <intent-filter>
                <action android:name="android.mtk.intent.action.mediaplayer.video" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mediatek.wwtv.mediaplayer.mmp.multimedia.TextPlayActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:theme="@style/AnimationTheme" >
            <intent-filter>
                <action android:name="android.mtk.intent.action.mediaplayer.text" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mediatek.wwtv.mediaplayer.mmp.multimedia.Photo4K2KPlayActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:hardwareAccelerated="true"
            android:theme="@style/AnimationThemePhoto" >
            <intent-filter>
                <action android:name="android.mtk.intent.action.mediaplayer.4k2kphoto" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mediatek.wwtv.mediaplayer.mmp.multimedia.image.ImagePlayerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale">
            <intent-filter>
                <action android:name="android.mtk.intent.action.mediaplayer.ImagePlayer" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http"/>
                <data android:scheme="https"/>
            </intent-filter>
        </activity>

        <!-- DMR Media Player -->
        <!-- File browse Player -->
        <activity
            android:name="com.mediatek.wwtv.mediaplayer.mmp.multimedia.MtkFilesGridActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:launchMode="singleTask"
            android:theme="@style/AnimationTheme" >
            <intent-filter>
                <action android:name="android.mtk.intent.action.mediaplayer.grid" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mediatek.wwtv.mediaplayer.mmp.multimedia.MtkFilesListActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:launchMode="singleTask"
            android:theme="@style/AnimationTheme" >
            <intent-filter>
                <action android:name="android.mtk.intent.action.mediaplayer.list" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mediatek.wwtv.mediaplayer.setting.SettingActivity"
            android:configChanges="locale|layoutDirection|keyboard|keyboardHidden"
            android:label="@string/menu_interface_name"
            android:screenOrientation="landscape"
            android:theme="@style/menuMain_Transparent"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" >
            <intent-filter>
                <action android:name="android.mtk.intent.action.mediaplayer.setting" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.mediatek.wwtv.mediaplayer.setting.NetSettingActivity"
            android:configChanges="locale|layoutDirection|keyboard|keyboardHidden"
            android:label="@string/menu_interface_name"
            android:screenOrientation="landscape"
            android:theme="@style/menuMain_Transparent"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" >
            <intent-filter>
                <action android:name="android.mtk.intent.action.mediaplayer.netsetting" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name="com.mediatek.wwtv.util.BootBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.mediatek.intent.logcattousb" />
            </intent-filter>
        </receiver>

        <service android:name="com.mediatek.wwtv.mediaplayer.mmpcm.audioimpl.PlaybackService" />
        <uses-library android:name="javax.obex" />
    </application>

</manifest>
